<div class="card">
    <div class="card-header">
        <h2>New Event</h2>
    </div>
    <form class="form-label" id="new-event-form">
        <div>
            <label class="form-label" for="event-name-input">Event Name</label>
            <input id="event-name-input" type="text" />
        </div>
        <div>
            <label class="form-label" for="event-date-input">Event Date</label>
            <input id="event-date-input" type="date" />
        </div>
        <div>
            <label class="form-label" for="event-location-input">Event Location</label>
            <input id="event-location-input" type="text" />
        </div>
        <button id="new-event-btn" class="btn" type="submit">Create Event</button>
    </form>
</div>
<script src="/js/newEvent.js"></script>
